@import '~bootstrap/scss/bootstrap';

body {
    background-color: rgb(226, 226, 226);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Open Sans',
    sans-serif;
}

.main {
    font: 1.2em 'Open Sans', sans-serif;
}