@model LoginUserDto
<form asp-controller="Authentication" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="Id" />
    <div class="header">Login</div>
    <div class="block">
        <label>Username</label>
        <input asp-for="UserName" class="input"/>
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="block">
        <label>Password</label>
        <input asp-for="Password" class="input"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div class="block">
        <button type="submit" class="button">Sign In</button>
    </div>
    <a asp-controller="Authentication" asp-action="Register"
       asp-route-returnUrl="@Model.ReturnUrl">Register</a>
</form>